#primary.checkout-main {
    max-height: calc(100vh - 155px - var(--logo-width));
    padding-top: 22px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.custom-html {
    max-height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.custom-body {
    max-height: 100vh;
}

.custom-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    outline: 1px solid red !important;
}