.entry-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(var(--menu-spacing));
}

.entry-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(var(--menu-spacing));
}

.entry-content p {
    margin-top: 11px;
}