.breadcrumb {
    display: flex;
    margin-top: 22px;
    margin-left: var(--menu-spacing);
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.delivery-details {
    margin-left: var(--menu-spacing);
}