.breadcrumb {
    display: flex;
    margin-top: 22px;
    margin-left: var(--menu-spacing);
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.delivery-details {
    margin-left: var(--menu-spacing);
}

.woocommerce-notices-wrapper {
    display: none;
}

.woocommerce-form-coupon-toggle {
    display: none;
}

.checkout_coupon {
    display: none
}

.checkout.woocommerce-checkout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#order_review_heading {
    display: none;
}

.woocommerce-billing-fields h3 {
    display: none;
}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    padding-left: calc(var(--menu-spacing) - 22px);
    width: 50vw;
    padding-right: var(--menu-probely);
    flex-flow: row wrap;
}

#billing_first_name_field .woocommerce-input-wrapper,
#billing_last_name_field .woocommerce-input-wrapper,
#billing_address_1_field .woocommerce-input-wrapper,
#billing_city_field .woocommerce-input-wrapper,
#billing_state_field .woocommerce-input-wrapper,
#billing_postcode_field .woocommerce-input-wrapper,
#billing_phone_field .woocommerce-input-wrapper,
#billing_email_field .woocommerce-input-wrapper {
    width: calc((50vw - var(--menu-spacing) - (var(--menu-probely) * 2)) / 2);
    height: 44px;
    display: block;
    margin-left: var(--menu-probely);
}

.woocommerce-input-wrapper .input-text {
    width: 100%;
    height: 44px;
}

.woocommerce-additional-fields h3 {
    display: none;
}

#customer_details {
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.woocommerce-additional-fields__field-wrapper {
    margin-left: var(--menu-spacing);
}

#order_comments {
    width: calc((50vw - var(--menu-spacing) - var(--menu-probely)));
    height: 44px;
}

#customer_details .col-2 {
    width: 100%;
}

.woocommerce-privacy-policy-text {
    display: none;
}

#place_order {
    background-color: blue;
    color: white;
}

.woocommeerce-info {
    display: none;
}

.woocommerce-account-fields {
    display: none;
}

.woocommerce-form-login-toggle {
    display: none;
}

input[type=text]::-webkit-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=text]:-ms-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=text]::-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=text]:-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=tel]::-webkit-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=tel]:-ms-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=tel]::-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=tel]:-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=email]::-webkit-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=email]:-ms-input-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=email]::-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=email]:-moz-placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

textarea::placeholder {
    color: #a9a9a9;
    font-family: "HumanSans", sans-serif;
    font-weight: 600;
}

input[type=text] {
    padding-left: 22px;
}

input[type=tel] {
    padding-left: 22px;
}

input[type=email] {
    padding-left: 22px;
}

textarea {
    padding-left: 22px;
}