@media (max-width: 1600px) {
	* {
		--logo-width: 64px;
		--menu-spacing: 110px;
		--menu-probely: 22px;
		--font-size: 20px;
	}
}

@media (min-width: 1600px) {
	* {
		--logo-width: 3.3vw;
		--menu-spacing: 5.7vw;
		--menu-probely: 1.14vw;
		--font-size: 1vw;
	}
}

// base
@import "base/reset";
@import "base/typography";

// components
@import "components/marquee";
@import "components/forms";
@import "components/drop-down_menu.scss";
@import "components/header-icons";
@import "components/burger.scss";

// layout
@import "layout/body";
@import "layout/header";
@import "layout/footer";
@import "layout/header-second";

// pages
@import "pages/about-us";
@import "pages/contact-us";
@import "pages/custom";
@import "pages/delivery";
@import "pages/goods-exchange-and-return";
@import "pages/main";
@import "pages/size-guide.scss";
@import "pages/terms-of-use";
@import "pages/account";
@import "pages/single-product";

// themes

// utils
@import "utils/mobile";
@import "utils/woocommerce-custom";