.account-main {
    min-height: calc(100vh - var(--logo-width) - 155px);
    .ajax-info {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: calc(var(--logo-width) + 50px);
        height: 720px;
        width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: -100;
    }
    .login-register-block {
        min-height: calc(100vh - var(--logo-width) - 155px);
        width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        &.disable {
            display: none;
        }

        .faithwork-form {
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            z-index: 100;

            .account-full-forms {
                width: calc((100vw - 2 * var(--menu-spacing)) / 3);
                height: 565px;
                border: 2px solid #dddddd;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                fieldset {
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    .sign-up-email-text {
                        margin-top: 64px;
                        font-size: 22px;
                        font-weight: 600;
                    }

                    .account-legend {
                        padding: 0;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: -21px;
                        left: 0;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        .account-legend-image {
                            width: 75%;
                            height: auto;
                        }
                    }

                    .form-title {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        padding-bottom: 22px;

                        span {
                            font-size: 33px;
                            font-weight: 600;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .form-text {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        padding-bottom: 22px;
                        width: 95%;

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            text-align: center;
                            line-height: 1.2;
                        }

                        b {
                            font-weight: 600;
                        }
                    }

                    .account-forms {
                        width: calc((100vw - 2 * var(--menu-spacing)) / 4);
                        height: 66px;

                        input {
                            border-color: #dddddd;
                            width: calc((100vw - 2 * var(--menu-spacing)) / 4);
                            height: 44px;
                            font-size: 22px;

                            &#password {
                                font-size: 22px;
                            }
                        }
                    }

                    .account-forms-button {
                        width: calc((100vw - 2 * var(--menu-spacing)) / 4);
                        height: 66px;

                        input {
                            border-color: #dddddd;
                            width: calc((100vw - 2 * var(--menu-spacing)) / 4);
                            height: 44px;
                            font-size: 22px;
                            background: black;
                            color: white;
                            text-align: center;
                            border-radius: 4px;
                            padding: 0px 22px 0px 22px;

                        }
                    }
                }
            }
        }
    }
}
