.site-main.custom {
    height: auto;
}

.main-block {
    --mbh: 100vh;
    height: calc(100vh - var(--logo-width));
    &.first {
        .video-main-autoplay {
            width: 100vw;
            height: auto;
            source {
                width: 100vw;
                height: auto;
            }
        }
    }
    &.second {
        background-color: blue;
    }
    &.third {
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}
