.site-main.custom {
    width: 100%;
    height: auto;
    min-height: calc(100vh - var(--logo-width) - 155px);
    .main-block {
        height: auto;
        width: inherit;
        &.first {
            .video-main-autoplay {
                width: inherit;
                height: auto;
            }
        }
        &.second {
            background-color: blue;
        }
        &.third {
            background-color: white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}
