header.is_scrolled {
  background-color: white; }
  header.is_scrolled:hover {
    background-color: white; }
  header.is_scrolled #site-navigation #primary-menu #menu-header li a {
    color: black !important; }
  header.is_scrolled #site-navigation #primary-menu #menu-header li ul {
    background-color: white; }

.site-header {
  margin: 0;
  position: fixed;
  width: 100vw;
  height: var(--logo-width);
  z-index: 100;
  font-size: 14px;
  font-weight: 600; }
  .site-header {
    background-color: transparent;
    transition: 0.3s; }
  .site-header:hover {
    background-color: black;
    transition: 0.3s; }
  .site-header .custom-logo-link {
    display: inline-block; }
    .site-header .custom-logo-link .faithwork-logo {
      height: var(--logo-width) !important;
      width: var(--logo-width) !important;
      margin-left: calc((100vw - var(--logo-width)) / 2 - 0.2vw);
      position: absolute;
      top: 0;
      z-index: 100; }
    .site-header .custom-logo-link .faithwork-logo.inactive {
      display: none; }
  @media (min-width: 1600px) {
    .site-header .main-navigation {
      left: var(--menu-spacing);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 0; }
      .site-header .main-navigation {
        height: var(--logo-width);
        transition: 0.4s; }
      .site-header .main-navigation .menu-toggle {
        display: none !important; }
      .site-header .main-navigation ul {
        display: flex; }
        .site-header .main-navigation ul li {
          position: relative;
          margin-right: var(--menu-probely); }
          .site-header .main-navigation ul li:hover > ul, .site-header .main-navigation ul li:focus > ul {
            left: auto; }
          .site-header .main-navigation ul li a {
            display: block;
            text-decoration: none;
            color: white;
            text-transform: uppercase; }
          .site-header .main-navigation ul li ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            width: 100vw;
            margin-top: var(--menu-probely);
            background-color: black; }
            .site-header .main-navigation ul li ul {
              height: 30vh;
              transition: 1s; }
            .site-header .main-navigation ul li ul li:hover > ul, .site-header .main-navigation ul li ul li:focus > ul {
              display: block;
              left: auto; }
            .site-header .main-navigation ul li ul li a {
              width: 200px; }
            .site-header .main-navigation ul li ul li ul {
              left: -999em;
              top: 0; } }
  @media (max-width: 1600px) {
    .site-header .main-navigation.toggled ul {
      display: block; }
    .site-header .main-navigation ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0; } }

/*# sourceMappingURL=header.css.map */
