@media (max-width: 1600px) {
  * {
    --logo-width: 64px;
    --menu-spacing: 110px;
    --menu-probely: 22px;
    --font-size: 20px; } }
@media (min-width: 1600px) {
  * {
    --logo-width: 3.3vw;
    --menu-spacing: 5.7vw;
    --menu-probely: 1.14vw;
    --font-size: 1vw; } }
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

* {
  font-family: "Human Sans", sans-serif !important;
  font-weight: 600; }
  * a {
    text-decoration: none !important; }
    * a:hover {
      color: grey !important; }

.marquee {
  overflow: hidden;
  position: relative;
  height: auto; }
  .marquee .marquee-wrapper {
    display: flex;
    background-color: lime;
    height: auto; }
    .marquee .marquee-wrapper .marquee-content {
      color: white;
      font-size: 30px;
      white-space: nowrap;
      flex-shrink: 0;
      padding: 0 var(--menu-probely);
      animation: marquee 5s linear infinite; }

@keyframes marquee {
  0% {
    transform: translateZ(0); }
  to {
    transform: translate3d(-100%, 0, 0); } }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

textarea {
  width: 100%; }

header.is_scrolled {
  background-color: white; }
  header.is_scrolled:hover {
    background-color: white; }
  header.is_scrolled #site-navigation #primary-menu #menu-header li a {
    color: black !important; }
  header.is_scrolled #site-navigation #primary-menu #menu-header li ul {
    background-color: white; }

.site-header {
  margin: 0;
  position: fixed;
  width: 100vw;
  height: var(--logo-width);
  z-index: 100;
  font-size: 20px; }
  .site-header {
    background-color: transparent;
    transition: 0.3s; }
  .site-header:hover {
    background-color: black;
    transition: 0.3s; }
  .site-header .custom-logo-link {
    display: inline-block; }
    .site-header .custom-logo-link .faithwork-logo {
      height: var(--logo-width) !important;
      width: var(--logo-width) !important;
      margin-left: calc((100vw - var(--logo-width)) / 2 - 0.2vw);
      margin-right: auto;
      position: absolute;
      top: 0;
      z-index: 100; }
    .site-header .custom-logo-link .faithwork-logo.inactive {
      display: none; }
  @media (min-width: 1600px) {
    .site-header .main-navigation {
      left: var(--menu-spacing);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 0; }
      .site-header .main-navigation {
        height: var(--logo-width);
        transition: 0.4s; }
      .site-header .main-navigation .menu-toggle {
        display: none !important; }
      .site-header .main-navigation ul {
        display: flex; }
        .site-header .main-navigation ul li {
          position: relative;
          margin-right: var(--menu-probely); }
          .site-header .main-navigation ul li:hover > ul, .site-header .main-navigation ul li:focus > ul {
            left: auto; }
          .site-header .main-navigation ul li a {
            display: block;
            text-decoration: none;
            color: white; }
          .site-header .main-navigation ul li ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            width: 100vw;
            margin-top: var(--menu-probely);
            background-color: black; }
            .site-header .main-navigation ul li ul {
              height: 30vh;
              transition: 1s; }
            .site-header .main-navigation ul li ul li:hover > ul, .site-header .main-navigation ul li ul li:focus > ul {
              display: block;
              left: auto; }
            .site-header .main-navigation ul li ul li a {
              width: 200px; }
            .site-header .main-navigation ul li ul li ul {
              left: -999em;
              top: 0; } }
  @media (max-width: 1600px) {
    .site-header .main-navigation.toggled ul {
      display: block; }
    .site-header .main-navigation .menu-toggle {
      left: var(--menu-spacing);
      top: 0;
      cursor: pointer;
      display: block;
      border: none;
      position: absolute;
      background: transparent;
      width: 40px;
      height: 26px;
      margin: calc((var(--logo-width) - 26px) / 2) auto; }
      .site-header .main-navigation .menu-toggle::before, .site-header .main-navigation .menu-toggle::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff; }
      .site-header .main-navigation .menu-toggle::before {
        box-shadow: 0 11px 0 #ffffff; }
        .site-header .main-navigation .menu-toggle::before {
          top: 0;
          transition: box-shadow 0.4s 0.2s, top 0.4s 0.2s, transform 0.4s; }
      .site-header .main-navigation .menu-toggle::after {
        bottom: 0;
        transition: bottom 0.4s 0.2s, transform 0.4s; }
      .site-header .main-navigation .menu-toggle.active::before {
        top: 11px;
        transform: rotate(45deg);
        transition: box-shadow 0.2s, top 0.4s, transform 0.4s 0.2s; }
        .site-header .main-navigation .menu-toggle.active::before {
          box-shadow: 0 0 0 #000000;
          background: #000000; }
      .site-header .main-navigation .menu-toggle.active::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.4s, transform 0.4s 0.2s; }
        .site-header .main-navigation .menu-toggle.active::after {
          background: #000000; }
      .site-header .main-navigation .menu-toggle.black::before, .site-header .main-navigation .menu-toggle.black::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000000; }
      .site-header .main-navigation .menu-toggle.black::before {
        top: 0;
        transition: box-shadow 0.4s 0.2s, top 0.4s 0.2s, transform 0.4s; }
        .site-header .main-navigation .menu-toggle.black::before {
          box-shadow: 0 11px 0 #000000; }
      .site-header .main-navigation .menu-toggle.black::after {
        bottom: 0;
        transition: bottom 0.4s 0.2s, transform 0.4s; }
      .site-header .main-navigation .menu-toggle.black.active::before {
        top: 11px;
        transform: rotate(45deg);
        transition: box-shadow 0.2s, top 0.4s, transform 0.4s 0.2s; }
        .site-header .main-navigation .menu-toggle.black.active::before {
          box-shadow: 0 6px 0 rgba(255, 255, 255, 0); }
      .site-header .main-navigation .menu-toggle.black.active::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.4s, transform 0.4s 0.2s; }
    .site-header .main-navigation ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0; }
    .site-header #site-navigation.toggled {
      top: 0;
      position: absolute;
      width: 100%;
      background-color: white;
      z-index: 100;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 0;
      padding-left: var(--menu-spacing); }
    .site-header #site-navigation.toggled {
      height: 100vh;
      transition: 0.4s; }
    .site-header #site-navigation #primary-menu.menu-open {
      display: flex;
      margin-top: var(--logo-width); }
      .site-header #site-navigation #primary-menu.menu-open ul li a {
        color: black; } }
  .site-header .navigation-icons {
    height: var(--logo-width);
    position: absolute;
    right: var(--menu-spacing);
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 100; }
    .site-header .navigation-icons.active {
      left: 20vw;
      justify-content: space-between;
      transition: 1s; }
    .site-header .navigation-icons .nav-icon {
      margin-left: var(--menu-probely); }
      .site-header .navigation-icons .nav-icon .header-svg {
        transform: scale(0.75, 0.75); }
        .site-header .navigation-icons .nav-icon .header-svg.black {
          filter: invert(100%); }
        .site-header .navigation-icons .nav-icon .header-svg:hover {
          filter: invert(50%); }
  .site-header ul.sub-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #efefef; }

.site-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--logo-width));
  flex-shrink: 0;
  background: #efefef; }
  .site-footer .footer-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-shrink: 0; }
    .site-footer .footer-main .footer-top {
      width: 43.75vw;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      padding-top: calc(2 * var(--menu-probely)); }
      .site-footer .footer-main .footer-top .footer-image {
        width: 100%;
        height: auto; }
    .site-footer .footer-main .footer-bottom {
      width: 43.75vw;
      height: 440px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 44px; }
      .site-footer .footer-main .footer-bottom #footer-menu-1,
      .site-footer .footer-main .footer-bottom #footer-menu-2,
      .site-footer .footer-main .footer-bottom #footer-menu-3 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start; }
        .site-footer .footer-main .footer-bottom #footer-menu-1 ul,
        .site-footer .footer-main .footer-bottom #footer-menu-2 ul,
        .site-footer .footer-main .footer-bottom #footer-menu-3 ul {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          .site-footer .footer-main .footer-bottom #footer-menu-1 ul li a,
          .site-footer .footer-main .footer-bottom #footer-menu-2 ul li a,
          .site-footer .footer-main .footer-bottom #footer-menu-3 ul li a {
            color: black;
            text-decoration: none; }
      .site-footer .footer-main .footer-bottom #footer-menu-1 {
        align-items: flex-start; }
      .site-footer .footer-main .footer-bottom #footer-menu-2 {
        align-items: center; }
      .site-footer .footer-main .footer-bottom #footer-menu-3 {
        align-items: flex-end; }
  .site-footer .footer-copyright {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: flex-end; }
    .site-footer .footer-copyright .footer-copyright-paragraf {
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.875rem;
      line-height: normal; }

.site-footer-second {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 155px;
  flex-shrink: 0;
  background: #EFEFEF; }
  .site-footer-second .footer-second-social {
    height: 65px;
    width: 100%;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center; }
    .site-footer-second .footer-second-social a {
      display: flex !important;
      margin-left: calc(var(--menu-probely) / 2);
      margin-right: calc(var(--menu-probely) / 2);
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }

#masthead.site-header-second {
  margin: 0;
  position: relative;
  width: 100%;
  height: var(--logo-width);
  z-index: 100;
  font-size: 17px; }
  #masthead.site-header-second {
    background-color: black;
    transition: 0.3s; }
  #masthead.site-header-second .custom-logo-link {
    display: inline-block; }
    #masthead.site-header-second .custom-logo-link .faithwork-logo {
      height: var(--logo-width) !important;
      width: var(--logo-width) !important;
      margin-left: calc((100vw - var(--logo-width)) / 2 - 0.2vw);
      margin-right: auto;
      position: absolute;
      top: 0;
      z-index: 100; }
    #masthead.site-header-second .custom-logo-link .faithwork-logo.inactive {
      display: none; }
  @media (min-width: 1600px) {
    #masthead.site-header-second .main-navigation {
      left: var(--menu-spacing);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 0; }
      #masthead.site-header-second .main-navigation {
        height: var(--logo-width);
        transition: 0.4s; }
      #masthead.site-header-second .main-navigation .menu-toggle {
        display: none !important; }
      #masthead.site-header-second .main-navigation ul {
        display: flex; }
        #masthead.site-header-second .main-navigation ul li {
          position: relative;
          margin-right: var(--menu-probely); }
          #masthead.site-header-second .main-navigation ul li:hover > ul, #masthead.site-header-second .main-navigation ul li:focus > ul {
            left: auto; }
          #masthead.site-header-second .main-navigation ul li a {
            display: block;
            text-decoration: none;
            color: white; }
          #masthead.site-header-second .main-navigation ul li ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            width: 100vw;
            margin-top: var(--menu-probely);
            background-color: black; }
            #masthead.site-header-second .main-navigation ul li ul {
              height: 30vh;
              transition: 1s; }
            #masthead.site-header-second .main-navigation ul li ul li:hover > ul, #masthead.site-header-second .main-navigation ul li ul li:focus > ul {
              display: block;
              left: auto; }
            #masthead.site-header-second .main-navigation ul li ul li a {
              width: 200px; }
            #masthead.site-header-second .main-navigation ul li ul li ul {
              left: -999em;
              top: 0; } }
  @media (max-width: 1600px) {
    #masthead.site-header-second .main-navigation.toggled ul {
      display: block; }
    #masthead.site-header-second .main-navigation .menu-toggle {
      left: var(--menu-spacing);
      top: 0;
      cursor: pointer;
      display: block;
      border: none;
      position: absolute;
      background: transparent;
      width: 40px;
      height: 26px;
      margin: calc((var(--logo-width) - 26px) / 2) auto; }
      #masthead.site-header-second .main-navigation .menu-toggle::before, #masthead.site-header-second .main-navigation .menu-toggle::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff; }
      #masthead.site-header-second .main-navigation .menu-toggle::before {
        box-shadow: 0 11px 0 #ffffff; }
        #masthead.site-header-second .main-navigation .menu-toggle::before {
          top: 0;
          transition: box-shadow 0.4s 0.2s, top 0.4s 0.2s, transform 0.4s; }
      #masthead.site-header-second .main-navigation .menu-toggle::after {
        bottom: 0;
        transition: bottom 0.4s 0.2s, transform 0.4s; }
      #masthead.site-header-second .main-navigation .menu-toggle.active::before {
        top: 11px;
        transform: rotate(45deg);
        transition: box-shadow 0.2s, top 0.4s, transform 0.4s 0.2s; }
        #masthead.site-header-second .main-navigation .menu-toggle.active::before {
          box-shadow: 0 0 0 #000000;
          background: #000000; }
      #masthead.site-header-second .main-navigation .menu-toggle.active::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.4s, transform 0.4s 0.2s; }
        #masthead.site-header-second .main-navigation .menu-toggle.active::after {
          background: #000000; }
      #masthead.site-header-second .main-navigation .menu-toggle.black::before, #masthead.site-header-second .main-navigation .menu-toggle.black::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000000; }
      #masthead.site-header-second .main-navigation .menu-toggle.black::before {
        top: 0;
        transition: box-shadow 0.4s 0.2s, top 0.4s 0.2s, transform 0.4s; }
        #masthead.site-header-second .main-navigation .menu-toggle.black::before {
          box-shadow: 0 11px 0 #000000; }
      #masthead.site-header-second .main-navigation .menu-toggle.black::after {
        bottom: 0;
        transition: bottom 0.4s 0.2s, transform 0.4s; }
      #masthead.site-header-second .main-navigation .menu-toggle.black.active::before {
        top: 11px;
        transform: rotate(45deg);
        transition: box-shadow 0.2s, top 0.4s, transform 0.4s 0.2s; }
        #masthead.site-header-second .main-navigation .menu-toggle.black.active::before {
          box-shadow: 0 6px 0 rgba(255, 255, 255, 0); }
      #masthead.site-header-second .main-navigation .menu-toggle.black.active::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.4s, transform 0.4s 0.2s; }
    #masthead.site-header-second .main-navigation ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0; }
    #masthead.site-header-second #site-navigation.toggled {
      top: 0;
      position: absolute;
      width: 100%;
      background-color: white;
      z-index: 100;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 0;
      padding-left: var(--menu-spacing); }
    #masthead.site-header-second #site-navigation.toggled {
      height: 100vh;
      transition: 0.4s; }
    #masthead.site-header-second #site-navigation #primary-menu.menu-open {
      display: flex;
      margin-top: var(--logo-width); }
      #masthead.site-header-second #site-navigation #primary-menu.menu-open ul li a {
        color: black; } }
  #masthead.site-header-second .navigation-icons {
    height: var(--logo-width);
    position: absolute;
    right: var(--menu-spacing);
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 100; }
    #masthead.site-header-second .navigation-icons.active {
      left: 20vw;
      justify-content: space-between;
      transition: 1s; }
    #masthead.site-header-second .navigation-icons .nav-icon {
      margin-left: var(--menu-probely); }
      #masthead.site-header-second .navigation-icons .nav-icon .header-svg {
        transform: scale(0.75, 0.75); }
        #masthead.site-header-second .navigation-icons .nav-icon .header-svg.black {
          filter: invert(100%); }
        #masthead.site-header-second .navigation-icons .nav-icon .header-svg:hover {
          filter: invert(50%); }
  #masthead.site-header-second ul.sub-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #efefef; }

.info-content-page {
  display: flex; }
  .info-content-page .about-us-heading {
    margin-left: var(--menu-spacing);
    width: 50%; }
    .info-content-page .about-us-heading h1 {
      font-size: 64px;
      margin-top: 44px;
      margin-bottom: 0;
      padding-bottom: 11px; }
    .info-content-page .about-us-heading .about-us-article {
      font-family: "Human Sans", sans-serif;
      font-weight: 400; }
      .info-content-page .about-us-heading .about-us-article p {
        font-size: 24px;
        padding-top: 11px; }
  .info-content-page .about-us-picture img {
    padding-top: 140px;
    padding-left: 88px;
    height: 640px;
    width: auto; }

.info-content-page {
  display: flex; }
  .info-content-page .contact-us-heading {
    margin-left: var(--menu-spacing);
    width: 50%; }
    .info-content-page .contact-us-heading h1 {
      font-size: 64px;
      margin-top: 44px;
      margin-bottom: 0;
      padding-bottom: 11px; }
    .info-content-page .contact-us-heading .contact-us-article {
      font-family: "Human Sans", sans-serif;
      font-weight: 400; }
      .info-content-page .contact-us-heading .contact-us-article p {
        font-size: 24px;
        padding-top: 11px; }
  .info-content-page .contact-us-picture img {
    padding-top: 140px;
    padding-left: 88px;
    height: 640px;
    width: auto; }

#primary.checkout-main {
  max-height: calc(100vh - 155px - var(--logo-width));
  padding-top: 22px;
  position: relative; }

.custom-html {
  max-height: 100vh; }

.custom-body {
  max-height: 100vh; }

.info-content-page {
  display: flex; }
  .info-content-page .delivery-info {
    margin-left: var(--menu-spacing);
    margin-right: var(--menu-spacing);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(100vw - 2 * (var(--menu-spacing))); }
    .info-content-page .delivery-info .delivery-heading {
      width: calc(((100vw - 2 * (var(--menu-spacing))) / 3) - 88px); }
      .info-content-page .delivery-info .delivery-heading h1 {
        font-size: 44px;
        margin-top: 44px;
        margin-bottom: 0;
        padding-bottom: 11px; }
      .info-content-page .delivery-info .delivery-heading .delivery-article {
        font-family: "Human Sans", sans-serif;
        font-weight: 400; }
        .info-content-page .delivery-info .delivery-heading .delivery-article p {
          font-size: 24px;
          padding-top: 11px; }

.delivery-picture {
  width: calc(100vw - 2 * (var(--menu-spacing)));
  height: auto;
  margin-left: var(--menu-spacing);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .delivery-picture img {
    width: calc(100vw - 2 * (var(--menu-spacing)) / 2);
    height: auto; }

.info-content-page {
  display: flex; }
  .info-content-page .goods-exchange-and-return-heading {
    margin-left: var(--menu-spacing);
    width: 50%; }
    .info-content-page .goods-exchange-and-return-heading h1 {
      font-size: 64px;
      margin-top: 44px;
      margin-bottom: 22px; }
    .info-content-page .goods-exchange-and-return-heading .goods-exchange-and-return-article {
      font-family: "Human Sans", sans-serif;
      font-weight: 400; }
      .info-content-page .goods-exchange-and-return-heading .goods-exchange-and-return-article p {
        display: block;
        font-size: 24px;
        margin-top: 11px; }
  .info-content-page .goods-exchange-and-return-picture img {
    padding-top: 140px;
    padding-left: 88px;
    height: 640px;
    width: auto; }

.site-main.custom {
  width: 100%;
  height: auto;
  min-height: calc(100vh - var(--logo-width) - 155px); }
  .site-main.custom .main-block {
    height: auto;
    width: inherit; }
    .site-main.custom .main-block.first .video-main-autoplay {
      width: inherit;
      height: auto; }
    .site-main.custom .main-block.second {
      background-color: blue; }
    .site-main.custom .main-block.third {
      background-color: white;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }

.info-content-page {
  display: flex; }
  .info-content-page .size-guide-heading {
    margin-left: var(--menu-spacing);
    width: 50%; }
    .info-content-page .size-guide-heading h1 {
      font-size: 64px;
      margin-top: 44px;
      margin-bottom: 0;
      padding-bottom: 11px; }
    .info-content-page .size-guide-heading .size-guide-article {
      font-family: "Human Sans", sans-serif;
      font-weight: 400; }
      .info-content-page .size-guide-heading .size-guide-article p {
        font-size: 24px;
        padding-top: 11px; }
  .info-content-page .size-guide-picture img {
    padding-top: 140px;
    padding-left: 88px;
    height: 640px;
    width: auto; }

.info-content-page {
  display: flex; }
  .info-content-page .terms-of-use-heading h1 {
    font-size: 64px;
    margin-top: 44px;
    margin-bottom: 0;
    padding-bottom: 11px; }
  .info-content-page .terms-of-use-heading .terms-of-use-article {
    font-family: "Human Sans", sans-serif;
    font-weight: 400; }
    .info-content-page .terms-of-use-heading .terms-of-use-article p {
      font-size: 24px;
      padding-top: 11px; }
    .info-content-page .terms-of-use-heading .terms-of-use-article ol {
      margin: 0;
      font-size: 24px;
      padding-top: 11px; }
      .info-content-page .terms-of-use-heading .terms-of-use-article ol li {
        padding-top: 11px; }
  .info-content-page .terms-of-use-picture img {
    padding-top: 140px;
    padding-left: 88px;
    height: 640px;
    width: auto; }

.account-main {
  min-height: calc(100vh - var(--logo-width) - 155px); }
  .account-main .ajax-info {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: calc(var(--logo-width) + 50px);
    height: 720px;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: -100; }
  .account-main .login-register-block {
    min-height: calc(100vh - var(--logo-width) - 155px);
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center; }
    .account-main .login-register-block.disable {
      display: none; }
    .account-main .login-register-block .faithwork-form {
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      z-index: 100; }
      .account-main .login-register-block .faithwork-form .account-full-forms {
        width: calc((100vw - 2 * var(--menu-spacing)) / 3);
        height: 565px;
        border: 2px solid #dddddd;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center; }
        .account-main .login-register-block .faithwork-form .account-full-forms fieldset {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center; }
          .account-main .login-register-block .faithwork-form .account-full-forms fieldset .form-title {
            display: flex; }
          .account-main .login-register-block .faithwork-form .account-full-forms fieldset .account-forms {
            width: calc((100vw - 2 * var(--menu-spacing)) / 4);
            height: 66px;
            display: flex;
            justify-content: center; }
            .account-main .login-register-block .faithwork-form .account-full-forms fieldset .account-forms input {
              border-color: #dddddd;
              width: calc((100vw - 2 * var(--menu-spacing)) / 4);
              height: 44px;
              font-size: 22px; }
              .account-main .login-register-block .faithwork-form .account-full-forms fieldset .account-forms input#password {
                font-size: 22px; }

@media (max-width: 1000px) {
  * {
    --menu-spacing: 22px; }

  body {
    height: 100vh !important; }

  .site-header {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }

  .navigation-icons {
    display: none; }

  .navigation-icons.active {
    display: flex; } }
.breadcrumb {
  display: flex;
  margin-left: var(--menu-spacing); }

.breadcrumb a {
  color: black;
  text-decoration: none; }

.delivery-details {
  margin-left: var(--menu-spacing); }

.woocommerce-notices-wrapper {
  display: none; }

.woocommerce-form-coupon-toggle {
  display: none; }

.checkout_coupon {
  display: none; }

.checkout.woocommerce-checkout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start; }

#order_review {
  width: 50vw;
  position: relative; }

.shop_table {
  width: 49vw; }

#order_review_heading {
  display: none; }

.woocommerce-billing-fields h3 {
  display: none; }

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  padding-left: calc(var(--menu-spacing) - 22px);
  width: 50vw;
  padding-right: var(--menu-probely);
  flex-flow: row wrap; }

#billing_first_name_field .woocommerce-input-wrapper,
#billing_last_name_field .woocommerce-input-wrapper,
#billing_address_1_field .woocommerce-input-wrapper,
#billing_city_field .woocommerce-input-wrapper,
#billing_state_field .woocommerce-input-wrapper,
#billing_postcode_field .woocommerce-input-wrapper,
#billing_phone_field .woocommerce-input-wrapper,
#billing_email_field .woocommerce-input-wrapper {
  width: calc((50vw - var(--menu-spacing) - (var(--menu-probely) * 2)) / 2);
  height: 44px;
  display: block;
  margin-left: var(--menu-probely); }

#billing_first_name_field,
#billing_last_name_field,
#billing_address_1_field,
#billing_city_field,
#billing_state_field,
#billing_postcode_field,
#billing_phone_field,
#billing_email_field {
  margin-top: 11px;
  margin-bottom: 11px; }

.woocommerce-input-wrapper .input-text {
  width: 100%;
  height: 44px; }

.woocommerce-additional-fields h3 {
  display: none; }

#customer_details {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center; }

.woocommerce-additional-fields__field-wrapper {
  margin-left: var(--menu-spacing); }

#order_comments {
  width: calc((50vw - var(--menu-spacing) - var(--menu-probely)));
  height: 44px; }

#customer_details .col-2 {
  width: 100%; }

.woocommerce-privacy-policy-text {
  display: none; }

#place_order {
  background-color: blue;
  color: white; }

.woocommeerce-info {
  display: none; }

.woocommerce-account-fields {
  display: none; }

.woocommerce-form-login-toggle {
  display: none; }

input[type=text]::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=text]:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=text]::-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=text]:-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=tel]::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=tel]:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=tel]::-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=tel]:-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=email]::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=email]:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=email]::-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=email]:-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=password]::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=password]:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=password]::-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

input[type=password]:-moz-placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

textarea::placeholder {
  color: #a9a9a9;
  font-family: "HumanSans", sans-serif;
  font-weight: 600; }

textarea {
  padding-left: 22px;
  padding-top: 11px; }

input[type=text] {
  padding-left: 22px; }

input[type=tel] {
  padding-left: 22px; }

input[type=email] {
  padding-left: 22px; }

input[type=password] {
  padding-left: 22px; }

.futbolka-name {
  font-size: 27px;
  margin: 0; }

.woocommerce-Price-amount bdi {
  font-size: 27px; }

th.product-name,
th.product-total {
  display: none; }

tr.cart_item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  position: relative; }

td.product-name {
  display: flex;
  align-items: flex-start;
  height: auto; }

td.product-total {
  position: absolute;
  top: 133px;
  left: 200.5px; }

dl.variation {
  position: absolute;
  left: 184px;
  top: 55px;
  margin: 0;
  width: 300px;
  height: auto;
  display: flex;
  flex-flow: row nowrap; }

tfoot {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start; }

tr.cart-subtotal,
tr.woocommerce-shipping-totals,
tr.order-total {
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; }

#payment ul {
  margin-left: 0;
  padding-left: 0; }

#payment ul li {
  list-style-type: none; }

/*# sourceMappingURL=style.css.map */
